/* Write your CSS here */

.not-heading {
  color: #fff;
  margin: 20px;
  font-family: 'Roboto';
  font-size: 30px;
}

.not-found {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
